:root {
  --font-primary: "Lovelo-LineLight";
}


@font-face {
  font-family: "Lovelo-LineLight";
  src: url("../public/font/Lovelo-LineLight.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "Montserrat-Regular";
//   src: url("../public/font/Montserrat-Regular.woff2") format("woff");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Mulish-Light";
//   src: url("../public/font/Mulish-Light.woff2") format("woff");
//   font-weight: 300;
//   font-style: normal;
// }